[submodule "meegflow"]
	path = meegflow
	url = https://github.com/BrainlifeMEEG/meegflow
[submodule "brainlife_utils"]
	path = brainlife_utils
	url = https://github.com/BrainlifeMEEG/brainlifeMEEG_utils
